.task-Maincontainer .css-11lq3yg-MuiGrid-root {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.task-unis {
    display: flex;
    width: 70%;
    justify-content: center;
    justify-items: center;
}



.task-Maincontainer {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.loader {

    margin: 0 auto;
    display: block;
}

.task-form .css-m1czjo-MuiGrid-root {
    max-width: 100% !important;
}