.task-Maincontainer .css-11lq3yg-MuiGrid-root {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.task-Maincontainer {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.loader {

    margin: 0 auto;
    display: block;
}